.navbar {
  height: 80px;
  padding: 0 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}

.logo-link {
  text-decoration: none;
}

.logo {
  margin: 0;
  color: hsl(221, 58%, 50%);
  font-size: 32px;
  font-weight: 700;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.try-btn {
  padding: 10px 24px;

  background: transparent;

  color: #2563eb;

  border: 1px solid #2563eb;

  border-radius: 8px;

  cursor: pointer;

  font-size: 15px;
  font-weight: 600;

  transition: 0.3s;
}

.try-btn:hover {
  background: #eff6ff;
}

.logout-btn {
  padding: 10px 24px;

  background: #2563eb;

  color: white;

  border: none;

  border-radius: 8px;

  cursor: pointer;

  font-size: 15px;
  font-weight: 600;

  transition: 0.3s;
}

.logout-btn:hover {
  background: #1d4ed8;
}